body{
    font-family: Noto Sans, Arial, sans-serif;
    padding: 3em 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

h1 {
  color: darkgreen;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;  
}

  #container {
    display: grid;
    grid-template-columns: repeat(auto);
    border: 3px solid goldenrod;
    }

  #container > div   {
    height: 16px;
    width: 16px;
    border: 1px solid coral;
    background-color: pink;
    }

    
    /* #container > div:hover {
      background-color: goldenrod; */